.filter-film {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.filter-film-container {
  position: relative;
  padding: 10px 0px;
}

.filter-film-title {
  user-select: none;
  float: right;
  cursor: pointer;
  margin-bottom: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #006eff, #00cdd4);
}

.filter-film-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #005bd1, #00d7df, #005bd1);
}

.filter-film-title svg {
  font-size: 16px;
  margin-left: 5px;
  color: #00cdd4;
}

.filter-film-title h3 {
  display: inline-block;
}

.filter-film-body {
  position: relative;
  display: flex;
  clear: both;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  // background-color: #091724;
  background-color: black;
  transition: all 0.3s ease;
}

.filter-film-body.active {
  position: relative;
  opacity: 1;
  height: 53px;
  overflow: visible;
  transition: all 0.3s ease;
}

.filter-film-content {
  margin-left: auto;
  padding: 10px;
}

.filter-film-content li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}

.filter-film-content li select,
.filter-film-content .submit-filter {
  color: white;
  outline: none;
  padding: 7px 7px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #000d31, #00686b);
  background-color: rgb(54, 54, 54);
  border: 1px solid #5e5e5e;
}

.filter-film-content li select:hover {
  background-image: linear-gradient(to right, #00081d, #00393b);
}

.filter-film-content .submit-filter {
  padding: 7px 15px;
  cursor: pointer;
  background-image: linear-gradient(to right, #c9003c, #d4bf00);
}

.filter-film-content .submit-filter:hover {
  background-image: linear-gradient(to right, #410013, #002e30);
}

@media only screen and (max-width: 1200px) {
  .filter-film-content {
    padding-left: 0px;
  }
  .filter-film-content li {
    margin-bottom: 10px;
  }
  .filter-film-body.active {
    // height: 96px;
    height: 86px;
  }
}

@media only screen and (max-width: 550px) {
  .filter-film-body.active {
    // height: 309px;
    height: 230px;
  }
  .filter-film-content li,
  .filter-film-content li select {
    margin-left: 0px;
    width: 100%;
  }
  .filter-film-content {
    padding-bottom: 10px;
  }
  .submit-filter {
    display: block;
    margin: 0px auto;
  }
}
