.history-watched-main-movies {
  padding: 10px;
  //   background-color: #091724;
  background-color: black;
  min-height: 100px;
  margin-bottom: 10px;
  width: 332px;
  transition: all 0.3s ease;
  border: 0.5px solid #ff3d7480;
}

.history-watched-main-movies .main-movies-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// .history-watched-container .rightside-movies-container.day,
// .history-watched-container .rightside-movies-container.week,
// .history-watched-container .rightside-movies-container.month,
// .history-watched-container .rightside-movies-container.all {
//   max-height: 650px;
//   overflow-y: scroll;
// }

.history-watched-main-movies .main-movies-title .fa-clock-rotate-left {
  color: rgb(226, 34, 0);
  margin-right: 10px;
}

.view-all {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  background: linear-gradient(to right, #c9003c, #d4bf00);
  border-radius: 25px;
}

.view-all > a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border-radius: 25px;
  white-space: nowrap;
  background-color: #091724;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.view-all:hover {
  background: linear-gradient(to right, #00ffbf, #005485);
}

.view-all:hover a {
  color: #11e4af;
}

.history-watched-body {
  margin-top: 20px;
  max-height: 360px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1100px) {
  .history-watched-main-movies {
    width: 282px;
  }
}

@media only screen and (max-width: 670px) {
  .following {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .following .following-main-content {
    width: 100%;
  }
  .history-watched-main-movies {
    width: 100% !important;
  }
}
