.rank {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
  margin-top: 20px;
}

/* main content */

.rank .rank-main-content {
  width: 71%;
  //   background-color: #091724;
  background-color: black;
}

.rank-main-content {
  display: block;
  position: relative;
  padding: 10px;
}

.rank-main-content .main-movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  margin-top: 10px;
  gap: 10px;
  //   background-color: #091724;
  background-color: black;
}

@media only screen and (max-width: 670px) {
  .rank {
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 10px;
    margin-top: 20px;
  }
  .rank .rank-main-content {
    width: 100%;
  }
  .rank .rank-side-content {
    margin-top: 20px;
    width: 100%;
  }
  .rightside-movies .tab-content {
    width: 100% !important;
  }
  .filter-day li.tab a {
    padding: 7px 7px 5px 27px;
  }
}
